<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="https://ppppublic.blob.core.windows.net/webpos/EasyIntegrator-1.0.0.js"></script>
</head>
    <body>
        <header>
            <h1>
                MD POS App Demo
            </h1>
        </header>
        @RenderBody()
    </body>
</html>
