@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainApp">
    <div id="container">
        <div id="top">
            <div id="topLeft">
                
            </div>
            <div id="topRight">
                
            </div>
        </div>
        <div id="bottom">
            
        </div>
    </div>
</div>