@model dynamic
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainApp">
    <div id="container">
        <div class="top">
            <div>
                <span class="titleHeader">Point of Sale</span>
            </div>
            <span class="topLeft">
                @Html.Partial("POSCharge")
            </span>
            <span class="topRight">
                @Html.Partial("POSRefund")
            </span>
        </div>
        <div class="bottom">
            <div>
                @Html.Partial("POSResult")

            </div>

        </div>
    </div>
</div>
