<div>
    <p>
    Charge
    </p>
    <table>
        <tr>
            <td>Enter Charge Amount</td>
            <td><input type="text" id="chargeAmount"/></td>
        </tr>
    </table>

    <div>
        <input type="button" name="Charge" value="Charge"></input>
    </div>
</div>