<div>
    <p>
    Charge
    </p>
    <table>
        <tr>
            <td>Enter Charge Amount</td>
            <td><input type="text" id="Charge_Amount"/></td>
        </tr>
    </table>

    <div>
        <input type="button" id="btnCharge" name="Charge" value="Charge" />
    </div>
</div>