<div>
    <span class="titleHeader">Results</span>
    <table>
        <tr>
            <td>Amount Processed:</td>
            <td id="Result_AmountProcessed"></td>
        </tr>
        <tr>
            <td>Transaction ID:</td>
            <td id="Result_TransactionID"></td>
        </tr>
        <tr>
            <td>Results Message:</td>
            <td id="Result_Message"></td>
        </tr>
        <tr>
            <td>Results Status:</td>
            <td id="Result_Status"></td>
        </tr>
    </table>
</div>
