<div>
    <p>
    Refund
    </p>
    <table>
    <tr>
        <td>Transaction ID</td>
        <td><input type="text" id="Refund_TransactionID" name="TransactionID" /></td>
    </tr>    
    <tr>
        <td>Amount</td><td><input type="text" id="Refund_Amount" name="RefundAmount" /></td>
    </tr>
    </table>
    
    <div>
        <input type="button" id="btnRefund" name="Refund" value="Refund"/>
    </div>
</div>